// Breakpoints
$large-screen: 960px;

// Typography
$base-font-family: (
  'Open Sans Condensed',
  sans-serif,
);
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.2em;
@function heading-font-size($i) {
  @return $base-font-size / 10 * (11 - ($i - 1)/6);
}

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

//// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colors

$yellow: #ffe047;
$blue: #27788a;
$white: white;

$black: #010101;
$dark-gray: #363535;
$medium-gray: #999;
$light-gray: #ebebeb;

// Shadows
$shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
