@import "../config";
@import "../base/flex";

.article {

  &__header,
  &__content {
    padding: {
      left: $small-spacing;
      right: $small-spacing;
    }
  }

  &__header {
    font-family: $heading-font-family;
    font-weight: 700;
    text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue;
    padding: {
      top: $small-spacing;
      bottom: $small-spacing / 2;
    }
  }

  &__content {

    img {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }

      padding: {
        top: $small-spacing;
        bottom: $small-spacing;
      }

      @media (max-width: $large-screen) {
        width: 80%;
      }
      @media (min-width: $large-screen) {
        width: 80%;
        max-width: $large-screen * 0.6;
      }
    }

    p,
    ul,
    ol {
      word-break: break-all;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    ol {
      list-style-type: decimal;
      list-style-position: inside;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
