@import "../config";
@import "../base/flex";

.navigation-list {
  @include layout-horizontal;
  @include layout-wrap;
  @include layout-start-justified;

  // item

  &__item {
  }

  // link

  &__link {
  }
}
