@import "../_config";
@import "../base/_flex";

.article {

  &__header,
  &__content {
    padding: {
      left: $small-spacing;
      right: $small-spacing;
    }
  }

  &__header {
    font-family: $heading-font-family;
    font-weight: 700;
    text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue;
    padding: {
      top: $small-spacing;
      bottom: $small-spacing / 2;
    }
  }

  &__content {

    img {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }

      padding: {
        top: $small-spacing;
        bottom: $small-spacing;
      }

      @media (max-width: $large-screen) {
        width: 80%;
      }
      @media (min-width: $large-screen) {
        width: 80%;
        max-width: $large-screen * 0.6;
      }
    }

    // from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    p,
    ul,
    ol {
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    ol {
      list-style-type: decimal;
      list-style-position: inside;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
