@import "../_config";
@import "../utils/utils";

.card {

  @include container($large-screen * .8);

  border: 2px solid $light-gray;
  background-color: $white;
  box-shadow: $shadow;

  // layout

  @media (max-width: $large-screen) {
    padding: $small-spacing / 2;

    margin: {
      top: $small-spacing;
      bottom: $small-spacing;
    }
  }

  @media (min-width: $large-screen) {
    padding: $small-spacing;

    margin: {
      top: $base-spacing;
      bottom: $base-spacing;
    }
  }

  // content

  &__content {
    @media (max-width: $large-screen) {
      @include layout-vertical;
    }

    @media (min-width: $large-screen) {
      @include layout-horizontal;
    }
  }

  // image

  &__image {
    @media (max-width: $large-screen) {
      max-height: 160px;
      width: auto !important;
    }
  }

  // actions

  &__actions,
  &__actions a {
    color: $dark-gray;
    font-weight: bold;
  }
}
