@import "../_config";

/**
Usage:

<header class="header drawer">
  <input class="drawer__nav-toggle" type="checkbox" id="nav-toggle" />
  <label class="drawer__nav-toggle-label" for="nav-toggle" >
    <i class="drawer__menu-button">menu</i>
    <i class="drawer__close-button">close</i>
  </label>

  <nav class="drawer__navigation">
    <ul>
      <li>link-1</li>
      <li>...</li>
      <li>link-n</li>
    </ul>
  </nav>
</header>
*/

.drawer {

  &__nav-toggle {
    position: absolute;
    opacity: 0;
  }

  @media (max-width: $large-screen) {

    // Toggle

    &__nav-toggle-label {
      z-index: 1;
    }

    // Menu button

    &__nav-toggle:checked ~ &__nav-toggle-label &__menu-button {
      @include hidden;
    }

    // Close button

    &__close-button {
      @include hidden;
    }

    &__nav-toggle:checked ~ &__nav-toggle-label &__close-button {
      display: inline-block !important;
    }

    // Navigation

    &__navigation {
      @include hidden;
    }

    &__nav-toggle:checked ~ &__navigation {
      display: flex !important;

      @include fullbleed;
      @include fixed(top);
      @include layout-vertical;
      @include layout-center;

      background: $dark-gray;

      padding: {
        top: $small-spacing;
        bottom: $small-spacing;
      }
    }
  }

  @media (min-width: $large-screen) {
    &__nav-toggle-label {
      @include hidden;
    }
  }
}
