@import "../_config";
@import "../utils/utils";

.footer {

  @include container($large-screen);
  @include layout-vertical;

  @media (max-width: $large-screen) {
    padding: $small-spacing 0 $small-spacing/2 0;
    text-align: center;
  }

  @media (min-width: $large-screen) {
    padding: $base-spacing 0 $small-spacing 0;
  }

  &__heading {
    display: inline-block;
    text-transform: uppercase;
  }

  &__row {

    &--wrapped {
      @include layout-wrap;
    }

    @media (max-width: $large-screen) {
      @include layout-vertical;
      @include layout-center;
    }

    @media (min-width: $large-screen) {
      @include layout-horizontal;
      @include layout-justified;
    }
  }

  &__column {
    @include layout-vertical;
  }

  &__tile {
    padding: $small-spacing 0;
  }

  &__credits {
    @include layout-vertical;
    @include layout-center;
  }
}
