@import "../_config";
@import "../utils/utils";

.footer {
  @include container($large-screen);
  @include layout-vertical;

  @media (max-width: $large-screen) {
    padding: $small-spacing 0 $small-spacing/2 0;

    text-align: center;
  }

  @media (min-width: $large-screen) {
    padding: $base-spacing 0 $small-spacing 0;
  }

  // Heading

  &__heading {
    display: inline-block;
    text-transform: uppercase;
  }

  // Row

  &__row {

    &--wrapped {
      @include layout-wrap;
    }
  }

  @media (max-width: $large-screen) {
    &__row {
      @include layout-vertical;
      @include layout-center;
    }
  }

  @media (min-width: $large-screen) {
    &__row {
      @include layout-horizontal;
      @include layout-justified;
    }
  }

  // Column

  &__column {
    @include layout-vertical;
  }

  // Tile

  &__tile {
    padding: $small-spacing 0;
  }

  // Credits

  &__credits {
    @include layout-vertical;
    @include layout-center;
  }
}
