@import "../_config";
@import "../utils/utils";

.header {
  @include container($large-screen);
  @include layout-horizontal;
  @include layout-center;

  @media (max-width: $large-screen) {
    padding: {
      left: $small-spacing;
      right: $small-spacing;
    }
  }

  height: $base-spacing * 2;

  /**
   * Logo.
   */

  &__logo {
  }

  /**
   * Title.
   */

  &__title {
    text-transform: uppercase;
  }

  /**
   * Spacer.
   */

  &__spacer {
    @include flex(auto);
  }

  /**
   * Navigation.
   */

  &__navigation {
    font-size: heading-font-size(2);
    font-weight: 600;
    text-transform: uppercase;
  }
}
