<!doctype html>
<html lang="sk">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Site info-->
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.excerpt %}
  <meta name="description"
        content="{{ page.excerpt | strip | strip_html | strip_newlines | truncate: 160 }}">
  {% elsif site.description %}
  <meta name="description"
        content="{{ site.description | strip | strip_html | strip_newlines | truncate: 160 }}">
  {% endif %}

  <!--URLs-->
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
        href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!--Site verifications, etc.-->
  {% for meta in site.data.meta %}
  <meta name="{{ meta.key | strip }}" content="{{ meta.value | strip }}"/>
  {% endfor %}

  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" color="#5bbad5" href="{{ site.baseurl }}/favicons/safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#979f59">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--Styles-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!--Scripts-->
  <script src="{{ site.baseurl }}/bower_components/requirejs/require.js"
          data-main="{{ site.baseurl }}/js/main.js"></script>

  <!--Google Analytics-->
  {% include external/google-analytics.html %}
</head>
<body class="{{ page.class }}"
      itemscope itemtype="http://schema.org/WebPage">

<!--Facebook SDK-->
{% include external/facebook-sdk.html locale='sk_SK' %}

<!--Web site content-->
<div id="root">
  {% include site-shell.html %}
</div>
</body>
</html>
