// container

@mixin container($large-screen) {
  max-width: $large-screen;
  margin: {
    left: auto;
    right: auto;
  }
}

// direction

@mixin layout-inline {
  display: inline-flex;
}

@mixin layout-horizontal {
  display: flex;
  flex-direction: row;
}

@mixin layout-vertical {
  display: flex;
  flex-direction: column;
}

@mixin layout-wrap {
  flex-wrap: wrap;
}

// reversed direction

@mixin layout-horizontal-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin layout-vertical-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin layout-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// align-items

@mixin layout-start {
  align-items: flex-start;
}

@mixin layout-center {
  align-items: center;
}

@mixin layout-end {
  align-items: flex-end;
}

@mixin layout-baseline {
  align-items: baseline;
}

// justify-content

@mixin layout-start-justified {
  justify-content: flex-start;
}

@mixin layout-center-justified {
  justify-content: center;
}

@mixin layout-end-justified {
  justify-content: flex-end;
}

@mixin layout-around-justified {
  justify-content: space-around;
}

@mixin layout-justified {
  justify-content: space-between;
}

// align-self

@mixin self-start {
  align-self: flex-start;
}

@mixin self-center {
  align-self: center;
}

@mixin self-end {
  align-self: flex-end;
}

@mixin self-stretch {
  align-self: stretch;
}

@mixin self-baseline {
  align-self: baseline;
}

// align-content

@mixin layout-start-aligned {
  align-content: flex-start;
}

@mixin layout-end-aligned {
  align-content: flex-end;
}

@mixin layout-center-aligned {
  align-content: center;
}

@mixin layout-between-aligned {
  align-content: space-between;
}

@mixin layout-around-aligned {
  align-content: space-around;
}

// Flex factors

// $factor: integer / auto / none
@mixin flex($factor: 1) {
  @if type-of($factor) == 'number' {
    flex: #{$factor};
    @if $factor == 1 {
      flex-basis: 0.000000001px;
    }
  } @else if $factor == auto {
    flex: 1 1 auto;
  } @else {
    flex: $factor;
  }
}

// Positioning

@mixin block {
  display: block;
}

@mixin hidden {
  display: none !important;
}

@mixin invisible {
  visibility: hidden !important;
}

@mixin relative {
  position: relative;
}

@mixin fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin scroll {
  overflow: auto;
}

@mixin fullbleed {
  margin: 0;
  height: 100vh;
}

// $position: top / right / bottom / left
@mixin fixed($position) {
  position: fixed;

  @if $position != top {
    bottom: 0;
  }

  @if $position != right {
    left: 0;
  }

  @if $position != bottom {
    top: 0;
  }

  @if $position != left {
    right: 0;
  }
}
